:root {
  --blue: #3e8acc;
  --yellow: #fadd00;
  --black: #4e4a4a;
  --white: white;
  --grey: #9e9e9e;
  --light-grey: #dcdcdc;
  --hover: rgba(0, 0, 0, 0.08);
  --active: rgba(0, 0, 0, 0.16);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
